#intro, #controls {
  width: 90%;
  margin: 10px auto;
}

#intro {
  background-color: grey;
  color: white;

}



button#restart, #questions, #results, .question, .track, #name p {
  display: none;
}

#questions, #results {
  width: 80%;
  margin: 15px auto;
  border-radius: 10px;
  padding: 20px;
}

#questions {
  background-color: #f2f2f2;
  color: #747c83;
  width: 80%;
  border-radius: 10px;
  border: 2px solid black;
  padding: 20px;
  margin: 15px auto;
}

#name {
  margin: 10px 0;
}

#results {
  background-color: yellow;
}

#name p {
  color: red;
}
