#questions, #results, .question, .track {
  display: none;
}
 #questions {
   background-color: #f2f2f2;
   color: #747c83;
   width: 80%;
   border-radius: 10px;
   border: 2px solid black;
   padding: 20px;
   margin: 15px auto;
 }
